@page "/Search"

<PageTitle>Word Cloud Creator</PageTitle>

<div class="mainBody">
    <div class="ToolBar">
        <div class="ToolBarChild">
            <label class="headerLogo">LOGO HERE</label>
            <input type="button" class="headerButtons" id="btnHome" value="Home" onclick="goHome();">
            <input type="button" class="headerButtons" id="btnSearch" value="Search" onclick="">
            <input type="button" class="headerButtons" id="btnFavorites" value="Favorites" onclick="goFavorites();">
        </div>
    </div>
    <div class="mediaArea">
        <div id="tileMain" class="tileExpanded" onclick="closeTile();">
            <img class="expandedTileImage" id="expandedTileImage" onclick="" alt="">
            <div class="expandedTileChild" id="expandedTileChild">
                <label id="mediaTileHeadingExpanded" class="expandedTileHeadingLabel"></label>
                <label id="mediaTileSummaryExpanded" class="expandedTileSummaryLabel"></label>
                <label id="mediaTileCastExpanded" class="expandedTileCastLabel"></label>  
                <label id="mediaTileGenreExpanded" class="expandedTileGenreLabel"></label>            
            </div>
        </div>
        <div class="searchBarContainer">
            <input type="text" class="searchBarInput" autofocus id="" placeholder=" Search..." onclick="">
        </div>
        <div class="searchRow">
            <div id="" class="rowMediaMaskSearch">
                <div id="mediaRow" class="mediaRowSearch">
                    <div id="MediaTitle_0001" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0001" >2014 | Horror</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0001" src="images/mediaTitle_0001.jpg" onclick="expandTile('_0001');">    
                        </div>
                        <label id="mediaTitleHeading_0001" hidden >It Follows | 2014 | 1h 40m</label>
                        <label id="mediaTitleSummary_0001" hidden >After a seemingly innocent sexual encounter, 19-year-old Jay becomes trapped by a vicious curse - "it" is following her, and the only way to save herself is to put others in harm's way.</label>
                        <label id="mediaTitleCast_0001" hidden >Cast: Maika Monroe, Keir Gilchrist, Olivia Luccardi, Lili Sepe, Daniel Zovatto, Jake Weary</label>  
                        <label id="mediaTitleGenre_0001" hidden >Genre: Supernatural, Psychological Horror, Thriller</label>          
                    </div>
                    <div id="MediaTitle_0010" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0010" >1990 | Crime</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0010" src="images/mediaTitle_0010.jpg" onclick="expandTile('_0010');">    
                        </div>
                        <label id="mediaTitleHeading_0010" hidden >Goodfellas | 1990 | 2h 26m</label>
                        <label id="mediaTitleSummary_0010" hidden >A young man grows up in the mob and works very hard to advance himself through the ranks. He enjoys his life of money and luxury, but is oblivious to the horror that he causes.</label>
                        <label id="mediaTitleCast_0010" hidden >Cast: Robert De Niro, Ray Liotta, Joe Pesci, Lorraine Bracco, Paul Sorvino</label>  
                        <label id="mediaTitleGenre_0010" hidden >Genre: Crime, Drama, Biography, Thriller</label>          
                    </div>
                    <div id="MediaTitle_0002" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0002" >2015 | Horror</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0002" src="images/mediaTitle_0002.jpg" onclick="expandTile('_0002');">    
                        </div>
                        <label id="mediaTitleHeading_0002" hidden >The Witch | 2015 | 1h 32m</label>
                        <label id="mediaTitleSummary_0002" hidden >A farmer relocates his family to a plot on the edge of an ominous forest.</label>
                        <label id="mediaTitleCast_0002" hidden >Cast: Anya Taylor-Joy, Ralph Ineson, Kate Dickie, Harvey Scrimshaw, Ellie Grainger, Lucas Dawson</label>  
                        <label id="mediaTitleGenre_0002" hidden >Genre: Folk Horror, Drama, Supernatural Horror</label>          
                    </div>
                    <div id="MediaTitle_0003" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0003" >2014 | Horror</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0003" src="images/mediaTitle_0003.jpg" onclick="expandTile('_0003');">    
                        </div>
                        <label id="mediaTitleHeading_0003" hidden >The Taking of Deborah Logan | 2014 | 1h 30m</label>
                        <label id="mediaTitleSummary_0003" hidden >An elderly woman battling Alzheimer's disease agrees to let a film crew document her condition, but what they discover is something far more sinister going on.</label>
                        <label id="mediaTitleCast_0003" hidden >Cast: Jill Larson, Anne Ramsay, Michelle Ang, Ryan Cutrona</label>  
                        <label id="mediaTitleGenre_0003" hidden >Genre: Supernatural Horror, Found Footage</label>          
                    </div>
                    <div id="MediaTitle_0008" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0008" >2020 | Documentary</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0008" src="images/mediaTitle_0008.jpg" onclick="expandTile('_0008');">    
                        </div>
                        <label id="mediaTitleHeading_0008" hidden >The Last Dance | 2020 | 10 Episodes</label>
                        <label id="mediaTitleSummary_0008" hidden >This series revolves around the career of Michael Jordan, with particular focus on the 1997–98 season, his final season with the Chicago Bulls of the National Basketball Association (NBA).</label>
                        <label id="mediaTitleCast_0008" hidden >Cast: Michael Jordan, Scottie Pippen, Dennis Rodman</label>  
                        <label id="mediaTitleGenre_0008" hidden >Genre: Social and Cultural Docs, Docuseries, Sports</label>          
                    </div>
                    <div id="MediaTitle_0009" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0009" >2014 | Documentary</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0009" src="images/mediaTitle_0009.jpg" onclick="expandTile('_0009');">    
                        </div>
                        <label id="mediaTitleHeading_0009" hidden >Louis Theroux: LA Stories - City of Dogs | 2014 | 59m</label>
                        <label id="mediaTitleSummary_0009" hidden >Louis visits the people who are providing a home for troubled and formerly feral dogs. He speaks to them about the city's enormous canine population.</label>
                        <label id="mediaTitleCast_0009" hidden >Cast: Louis Theroux</label>  
                        <label id="mediaTitleGenre_0009" hidden >Genre: Documentary, Special Interest</label>          
                    </div>
                    <div id="MediaTitle_0004" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0004" >2005 | Horror</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0004" src="images/mediaTitle_0004.jpg" onclick="expandTile('_0004');">    
                        </div>
                        <label id="mediaTitleHeading_0004" hidden >The Exorcism of Emily Rose | 2005 | 2h 2m</label>
                        <label id="mediaTitleSummary_0004" hidden >A lawyer takes on a negligent homicide case involving a priest who performed an exorcism on a young girl.</label>
                        <label id="mediaTitleCast_0004" hidden >Cast: Laura Linney, Tom Wilkinson, Campbell Scott, Colm Feore, Jennifer Carpenter, Mary Beth Hurt, Henry Czerny, Shohreh Aghdashloo</label>  
                        <label id="mediaTitleGenre_0004" hidden >Genre: Supernatural Horror, Legal Drama, Thriller, Crime</label>          
                    </div>
                    <div id="MediaTitle_0007" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0007" >2016 | Action/Adventure</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0007" src="images/mediaTitle_0007.jpg" onclick="expandTile('_0007');">    
                        </div>
                        <label id="mediaTitleHeading_0007" hidden >Captain America: Civil War | 2016 | 2h 28m</label>
                        <label id="mediaTitleSummary_0007" hidden >Political pressure mounts to install a system of accountability when the actions of the Avengers lead to collateral damage. The new status quo deeply divides members of the team.</label>
                        <label id="mediaTitleCast_0007" hidden >Cast: Chris Evans, Robert Downey Jr., Scarlett Johansson, Sebastian Stan, Anthony Mackie, Don Cheadle, Jeremy Renner</label>  
                        <label id="mediaTitleGenre_0007" hidden >Genre: Action, Adventure, Superhero, Sci-Fi</label>          
                    </div>
                    <div id="MediaTitle_0005" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0005" >2010 | Horror</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0005" src="images/mediaTitle_0005.jpg" onclick="expandTile('_0005');">    
                        </div>
                        <label id="mediaTitleHeading_0005" hidden >Devil | 2010 | 1h 20m</label>
                        <label id="mediaTitleSummary_0005" hidden >"A group of people are trapped in an elevator and the Devil is mysteriously amongst them."</label>
                        <label id="mediaTitleCast_0005" hidden >Cast: Chris Messina, Logan Marshall-Green, Geoffrey Arend, Bojana Novakovic, Jenny O'Hara, Bokeem Woodbine, Matt Craven, Jacob Vargas</label>  
                        <label id="mediaTitleGenre_0005" hidden >Genre: Supernatural Horror, Thriller, Mystery</label>          
                    </div>
                    <div id="MediaTitle_0006" class="movieTileMain">
                        <div class="mediaTile">
                            <label class="tileTextHead" id="mediaTileLabel_0006" >2019 | Horror</label>
                            <button class="listButton" id="" value="" onclick=""><ion-icon name="add-circle-outline"></ion-icon></button>
                            <img class="tileImageMain" id="mediaTitleImage_0006" src="images/mediaTitle_0006.jpg" onclick="expandTile('_0006');">    
                        </div>
                        <label id="mediaTitleHeading_0006" hidden >Midsommar | 2019 | 2h 28m</label>
                        <label id="mediaTitleSummary_0006" hidden >A couple travel to Sweden to visit their friend's rural hometown for its fabled midsummer festival, but what begins as an idyllic retreat quickly devolves into an increasingly violent and bizarre competition at the hands of a pagan cult.</label>
                        <label id="mediaTitleCast_0006" hidden >Cast: Florence Pugh, Jack Reynor, William Jackson Harper, Vilhelm Blomgren, Ellora Torchia, Archie Madekwe, Will Poulter</label>  
                        <label id="mediaTitleGenre_0006" hidden >Genre: Folk Horror, Thriller, Drama, Mystery</label>          
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code {

}