.mainBody {
    background-color: ;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
/*    background-color: yellow;
*/    padding-top: 60px;
}
.textmain {
    color: snow;
}
.ToolBar {
    min-width: 810px;
    width: 100%;
    min-height: 60px;
    margin-top: 0px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(10,10,10,0.75);
}
.ToolBarChild1 {
    width: 100%;
    height: 50px;
    padding-top: 1%;
    padding: 1%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 6;
    overflow: hidden;
    padding-left: 16px;
}
.header {
    height: 60px;
    min-width: 100%;
    font-size: 40px;
    border-radius: 5px;
    outline-style: solid;
    outline: 2px solid;
    border-color: skyblue;
}
.inputText {
    height: 40px;
    min-width: 120px;
    max-width: 120px;
    padding: 3px;
    margin: 15px;
    color: black;
    border: 2px solid;
    border-radius: 5px;
    border-style: solid;
    border-color: cyan;
    background-color: white;
}
.mediaArea {
    min-width: 95%;
    max-width: 95%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
/*    background-color: red;
*/    z-index: 2;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    width: 7px;
    background-color: rgba(10,10,10,0.00);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(10,10,10,0.00);
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(10,10,10,0.00);
    }
.movieTileMain {
    min-width: 280px;
    max-width: 280px;
    min-height: 140px;
    max-height: 140px;
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
    margin: 5px;
    z-index: 4;
    overflow: hidden;
    transition: .5s;
}
.tileImageMain {
    min-width: 280px;
    max-width: 280px;
    min-height: 140px;
    max-height: 140px;
    object-fit: inherit;
    object-position: 0% 0%;
    z-index: 4;
}
.tileTextHead {
    display: none;
    z-index: 4;
    -webkit-transition: 1s 3s;
}
.mediaTile:hover .tileTextHead {
    display: block;
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 280px;
    max-width: 280px;
    min-height: 40px;
    max-height: 40px;
    padding: 10px;
    background-color: rgba(10,10,10,0.50);
    color: snow;
    border-radius: 0px 7px 0px 0px;
}
.listButton {
    display: none;
}
ion-icon {
    pointer-events: none;
}
.mediaTile:hover .listButton {
    display: block;
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    z-index: 5;
    background-color: rgba(10,10,10,0.0);
    color: snow;
    border-radius: 0px;
    border: none;
    position: absolute;
    top: 76%;
    left: 88%;
    padding-top: 3px;
    font-size: 20px;
}
.movieTileMain:hover + .hide {
    display: none;
    background-color: green;
    min-height: 50px;
    min-width: 50px;
}
.headerButtons {
    height: 45px;
    min-width: 100px;
    max-width: 100px;
    margin-top: 5px;
    color: snow;
    border-color: rgba(10,10,10,0.00);
    background-color: rgba(10,10,10,0.00);
}
.mediaHighlights {
    min-width: 100%;
    max-width: 100%;
    min-height: 500px;
    max-height: 500px;
    margin-bottom: 15px;
    background-color: yellow;
    border-radius: 7px 7px 7px 7px;
}
.mediaRow {
    min-width: 96%;
    max-width: 96%;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    padding-top: 5px;
    padding-left: 35px;
    z-index: 3;
    border-radius: 7px 7px 7px 7px;
    padding-top: 22px;
    overflow-x: auto;
    overflow-y: hidden;
}
    .mediaRow:focus-within .movieTileMain,
    .mediaRow:hover .movieTileMain {
/*        transform: translateX(-15%);*/
    }
.movieTileMain:focus ~ .movieTileMain,
.movieTileMain:hover ~ .movieTileMain {
/*    transform: translateX(15%);*/
}
.movieTileMain:hover {
    outline: 3px solid;
    outline-style: solid;
    outline-color: snow;
    z-index: 8;
}
.mediaRow .movieTileMain:focus,
.mediaRow .movieTileMain:hover {
    transform: scale(1.05);
    z-index: 7;
}
.rowHeadings {
    font-size: 22px;
    color: snow;
    margin-left: 50px;
}
.rowContainter {
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
/*    background-color: teal;
*/    z-index: 2;
}
.rowMediaMask {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    z-index: 0;
    border-radius: 7px 7px 7px 7px;
    background-color: rgba(10,10,10,0.50);
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: start;
    display: flex;
}
.pre-button {
    min-height: 200px;
    max-height: 200px;
    min-width: 2%;
    max-width: 2%;
    z-index: 5;
    background-color: rgba(10,10,10,0.0);
    color: snow;
    border: none;
    font-size: 20px;
}
    .pre-button:focus {
        outline: none;
    }
.nxt-button {
    min-height: 200px;
    max-height: 200px;
    min-width: 2%;
    max-width: 2%;
    z-index: 5;
    background-color: rgba(10,10,10,0.0);
    color: snow;
    border: none;
    font-size: 20px;
}
    .nxt-button:focus {
        outline: none;
    }
.tileExpanded {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    min-width: 800px;
    max-width: 800px;
    min-height: 600px;
    max-height: 600px;
    background-color: rgba(29,31,32,0.95);
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 7px 7px 0px 0px;
    display: none;
}
.expandedTileImage {
    min-width: 800px;
    max-width: 800px;
    min-height: 400px;
    max-height: 400px;
    object-fit: inherit;
    object-position: 0% 0%;
    border-radius: 7px 7px 0px 0px;
    z-index: 3;
}
.expandedTileChild {
    min-width: 800px;
    max-width: 800px;
    min-height: 200px;
    max-height: 200px;
    object-fit: inherit;
    object-position: 0% 0%;
    border-radius: 0px 0px 0px 0px;
    z-index: 4;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
}
.expandedTileHeadingLabel {
    min-width: 500px;
    max-width: 500px;
    min-height: 50px;
    max-height: 50px;
    padding: 10px;
    padding-left: 20px;
    color: snow;
    font-size: 20px;
    background-color: rgba(10,10,10,0.50);
    border-radius: 0px 0px 17px 0px;
}
.expandedTileSummaryLabel {
    min-width: 500px;
    max-width: 500px;
    min-height: 150px;
    max-height: 150px;
    padding: 20px;
    color: snow;
}
.expandedTileCastLabel {
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    color: snow;
}
.expandedTileGenreLabel {
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
    padding: 20px;
    color: snow;
}
.searchBarContainer {
    min-width: 100%;
    max-width: 100%;
    min-height: 70px;
    max-height: 70px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.0);
    outline: 3px solid;
    outline-style: solid;
    outline-color: snow;
    color: snow;
    border-radius: 7px;
}
.searchBarInput {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: rgba(0,0,0,0.0);
    font-size: 35px;
    padding-left: 15px;
    color: snow;
    border-radius: 7px;
}
::placeholder {
    color: snow;
    opacity: 1;
}
input {
    caret-color: snow;
}
.searchRow {
    min-width: 100%;
    max-width: 100%;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mediaRowSearch {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    padding-top: 5px;
    z-index: 3;
    border-radius: 7px 7px 7px 7px;
    padding-top: 22px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}
.rowMediaMaskSearch {
    min-width: 100%;
    max-width: 100%;
    z-index: 0;
    border-radius: 7px 7px 7px 7px;
    background-color: rgba(10,10,10,0.50);
    padding-bottom: 22px;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: start;
    display: flex;
}